<a href="https://colab.research.google.com/github/JunmoJeong/mooc_practice/blob/main/JOYCITY_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("/content/drive/MyDrive/Junmo Jeong/Projects/JOYCITY/datascience_rawdata.csv")

In [4]:
data.head()

   days_after_registration  userid  ...   source  marketing_cost_per_user
0                        0  375377  ...  Organic                        0
1                        0  295842  ...  Organic                        0
2                        0  229618  ...  Organic                        0
3                        0  335545  ...  Organic                        0
4                        0  300981  ...  Organic                        0

[5 rows x 9 columns]

In [5]:
data.shape

(620657, 9)