<a href="https://colab.research.google.com/github/JunmoJeong/mooc_practice/blob/main/ML_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hi')

hi

In [1]:
import pandas as pd
df = pd.DataFrame(
    {
        "a" : [4,5,6],
        "b" : [7,8,9],
        "c" : [10,11,12]
    },
    index = ['A',"B","C"]

)

In [2]:
df

   a  b   c
A  4  7  10
B  5  8  11
C  6  9  12

In [5]:
import pandas as pd
import seaborn as sns
df = sns.load_dataset("iris")

In [7]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
import seaborn as sns

In [9]:
df = sns.load_dataset('iris')
df.shape

(150, 5)

In [10]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [11]:
df.apply?

In [12]:
df.apply(lambda x : x[1])

sepal_length       4.9
sepal_width          3
petal_length       1.4
petal_width        0.2
species         setosa
dtype: object

In [13]:
df['species'].apply(lambda x : x[:3])

0      set
1      set
2      set
3      set
4      set
      ...
145    vir
146    vir
147    vir
148    vir
149    vir
Name: species, Length: 150, dtype: object

In [1]:
import pandas as pd
pd.concat?

In [3]:
s1 = pd.Series(['a','b'])
s2 = pd.Series(['c','d'])
s2

0    c
1    d
dtype: object

In [ ]:
import pandas as pd
import numpy as np
s = pd.Series(np.random)